
#Remove .pyc files using git rm *.pyc. If this not work use git rm -f *.pyc
#Commit git commit -a -m 'all pyc files removed'
#Push git push
#In future commits you can ignore .pyc files by creating a .gitignore file

# Compiled source #
###################
*.pyc
*.DS_Store
*DS_Store
*._*


/HDFsave/__pycache__
/HDFread/__pycache__
/Layer0/__pycache__
/Layer1/__pycache__
/ModLib/__pycache__
/Plotting/__pycache__
/RefProfiles/__pycache__
/SpectralDatabase/__pycache__

# Packages #
############
